---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio - Óscar González Fresno">
	<main>
		<!-- Hero Section -->
		<Hero />

		<!-- Languages Section -->
		<!--
		<SectionContainer title="Languages">
			<Languages />
		</SectionContainer>
		-->
	</main>
</Layout>