<div class="flex flex-col lg:flex-row items-center lg:items-start lg:space-x-8">

    <h2 class="text-gray-700 opacity-75 text-pretty text-sm sm:text-base lg:text-xl leading-relaxed">
        <p>I am Óscar González Fresno, a Telecommunications Engineer with a strong passion for technology, problem-solving, and continuous learning. My background spans data engineering and analysis, machine learning and communications, equipping me with a diverse skill set to tackle complex challenges.</p><br>

        <p>Currently, I am working as a Data Engineer at UC3M in collaboration with Fundación Universia, where I design and implement ETL processes using Scala, Spark, and Python in an AWS cloud environment.</p><br>

        <p>In addition to my technical expertise, I hold a professional music degree, which enhances my creativity, discipline, and ability to approach challenges from different perspectives. I strongly believe in the power of teamwork and I am always seeking opportunities to contribute value while continuing to grow both personally and professionally.</p>
    </h2>

    <img
        src="/portfolio/images/avatar.jpg"
        class="rounded-lg m-4 size-52 md:size-60 lg:size-80"
    >
</div>