<div class="flex flex-col lg:flex-row items-center lg:items-start lg:space-x-8">

    <h2 class="text-gray-700 opacity-75 text-pretty text-sm sm:text-base lg:text-xl leading-relaxed">
        I’m Óscar González Fresno, a Telecommunications Engineering graduate with a deep passion for technology, problem-solving, and continuous learning. My experience spans areas such as machine learning, signal detection, and data analysis, where I’ve worked on projects ranging from neural networks to rf transmitters. I hold a professional music degree, which complements my technical skills with creativity and discipline. Currently pursuing a Doble Master's in Telecommunication Engineering and Advanced Communications Techniques at UC3M, I am always eager to collaborate and apply my skills to real-world challenges. I believe in the power of teamwork and constantly seek new opportunities to grow both personally and professionally.
    </h2>
</div>