---
interface Props {
	title: string;
  description: string[];
  date: string;
}

const { title, description, date } = Astro.props;
---

<div class="absolute w-3 h-3 bg-blue-400 rounded-full mt-1.5 -start-1.5 border border-white"></div>
<time class="mb-1 text-xs sm:text-sm font-normal leading-none text-blue-400 italic">{date}</time>
<h3 class="sm:text-lg font-semibold text-gray-800 py-1">{title}</h3>
    {description.map(text => (
        <p class="py-1 text-sm sm:text-base font-normal text-gray-500">
            · {text}
        </p>
    ))}