<footer class="m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <hr class="my-6 border-gray-500 sm:mx-auto lg:my-8" />
        <div class="flex justify-between items-center">
            <span class="block text-sm text-gray-500 sm:text-center">
                © 2024 Óscar González Fresno. Some Rights Reserved.
            </span>
            <span class="block text-sm text-gray-500">
                Built with <a href="https://astro.build" target="_blank" class="underline">Astro</a>
            </span>
        </div>
    </div>
</footer>
