---
const linkClass = "relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center";

---

<header class="sticky top-0 flex justify-center items-center py-3 px-3 text-black font-medium bg-white shadow-md w-full z-50">
    <nav class="flex flex-col gap-x-8 sm:flex-row sm:gap-x-16 lg:gap-x-20 opacity-80 items-center w-full sm:w-auto">
        <a href="#about" class={linkClass}>About me</a>
        <a href="#experience" class={linkClass}>Experience</a>
        <a href="#projects" class={linkClass}>Projects</a>
        <a href="#skills" class={linkClass}>Skills</a>
    </nav>
</header>
