---
import ProjectItem from './ProjectItem.astro'

const PROJECTS = [
    {
        title: 'MIMO Detection with Deep Learning',
        body: 'Simulation of a communication system with multiple antennas using DL techniques',
        href: 'https://biblus.us.es/bibing/proyectos/abreproy/93911/descargar_fichero/TFG-3911+GONZ%C3%81LEZ+FRESNO%2C+%C3%93SCAR.pdf',
        src: '/portfolio/images/portada_tfg.jpg',
    },
    {
        title: "Wordle Solver",
        body: "A smart assistant designed to help you crack the word of the day in the popular Wordle game.",
        src: "/portfolio/images/wordle.jpg",
    },
    {
        title: 'Custom-Built Drone: From Components to Flight',
        body: 'An entirely custom-made drone, crafted from the ground up by sourcing and assembling all the necessary components, including wiring, programming, and design.',
        src: '/portfolio/images/drone.jpg',
    },
]
---
<ol class="grid grid-cols-1 gap-2 mx-5 my-5 ">
    {PROJECTS.map((project) => (
        <li class="mb-10 ms-4">
            <ProjectItem {...project} />
        </li>
    ))}
</ol>

