<a href={Astro.props.href}
    class="min-w-max font-medium rounded-lg text-xs px-3 py-2 text-center inline-flex items-center focus:ring-gray-600 bg-gray-200 text-black/50 hover:bg-gray-400 mb-2 gap-x-2 hover:scale-105 transition-transform duration-100"
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>