---
const { headings } = Astro.props;
const tocLinkClass = "text-gray-400 hover:text-gray-800"
---

<aside id="toc" class="hidden md:block w-full md:w-1/4 p-4 bg-white/90 shadow-md md:sticky top-[60px] md:h-screen">
    <h2 class="text-lg text-blue-500 font-semibold mb-2">On this page</h2>
    <ul class="space-y-1">
        <li>
            <a
                href={`#top`}
                class={tocLinkClass}
            >
                Overview
            </a>
        </li>
        {headings.map((heading) => (
            <li style={{ marginLeft: heading.depth === 3 ? '20px' : '0px' }}>
                <a
                    href={`#${heading.slug}`}
                    class={tocLinkClass}
                >
                    {heading.text}
                </a>
            </li>
        ))}
    </ul>
</aside>