---
const { headings } = Astro.props;
---

<aside class="w-1/4 p-4 bg-gray-200 border-l-2 sticky top-[60px] h-screen">
    <h2 class="text-lg font-semibold mb-2">On this page</h2>
    <ul class="space-y-1">
        <li>
            <a
                href={`#top`}
                class="text-blue-600 hover:text-blue-800"
            >
                Overview
            </a>
        </li>
        {headings.slice(1).map((heading) => (
            <li>
                <a
                    href={`#${heading.slug}`}
                    class="text-blue-600 hover:text-blue-800"
                >
                    {heading.text}
                </a>
            </li>
        ))}
    </ul>
</aside>
